{% autoescape off %}Bonjour{% if user.first_name %} {{ user.first_name }}{% endif %},

Vous avez demandé la réinitialisation du mot de passe de votre compte Oloustream ({{ email }}).

Pour choisir un nouveau mot de passe, ouvrez le lien suivant :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur : {{ user.get_username }}

Ce lien ne peut être utilisé qu'une seule fois et expire au bout de 3 jours.
Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email : votre mot de passe actuel reste inchangé.

Besoin d'aide ? Écrivez-nous à info@oloustream.com.

L'équipe Oloustream
{% endautoescape %}
